@import "tailwindcss";

/*
--ink-black: #000814ff;
--prussian-blue: #001d3dff;
--regal-navy: #003566ff;
--school-bus-yellow: #ffc300ff;
--gold: #ffd60aff;
242f3d
*/

:root {
  --ink-black: #000814ff;
  --prussian-blue: #001d3dff;
  --regal-navy: #003566ff;
  --school-bus-yellow: #ffc300ff;
  --gold: #ffd60aff;
}