@import "tailwindcss";

/*
--ink-black: #000814ff;
--prussian-blue: #001d3dff;
--regal-navy: #003566ff;
--school-bus-yellow: #ffc300ff;
--gold: #ffd60aff;
242f3d
*/

:root {
  --ink-black: #000814ff;
  --prussian-blue: #001d3dff;
  --regal-navy: #003566ff;
  --school-bus-yellow: #ffc300ff;
  --gold: #ffd60aff;
}

/* No seu globals.css */
@layer base {
  ::selection {
    background-color: #ffc300; /* Cor de fundo da seleção */
    color: #020b18;            /* Cor do texto ao ser selecionado */
  }
}

/* ===== Swiper Premium UI ===== */

/* Slide central em destaque */
.swiper-slide {
  transition: transform 0.8s ease, opacity 0.8s ease;
  transform: scale(0.85);
  opacity: 0.4;
}
.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

/* Paginação */
.swiper-pagination-bullet {
  background: rgba(15, 15, 15, 0.4) !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
  transition: all 0.3s ease;
  margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
  background: #ffc300ff !important;
  transform: scale(1.4);
  box-shadow: 0 0 10px rgba(255, 195, 0, 0.5);
}

/* Setas */
.swiper-button-next,
.swiper-button-prev {
  color: #ffc300ff !important;
  background: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  backdrop-filter: blur(4px);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}




/* Ajuste de espaçamento da paginação para não colar nos cards */
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
  margin-top: 30px !important;
}
.swiper-pagination-bullet:hover {
  background: #ffb703 !important;
  opacity: 0.7 !important;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #ffb703;
  width: 24px;
}

/* Estilos para renderizar o conteúdo do Quill corretamente */
.ql-editor pre.ql-syntax {
    background-color: #23241f; /* Cor padrão do tema Snow do Quill */
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    font-family: Monaco, MonacoRegular, "Courier New", monospace;
}

/* Garante que links dentro do conteúdo sejam visíveis */
.ql-editor a {
    color: #ca8a04 !important; /* text-yellow-600 */
   
    font-weight: 600;
   
    
}

.ql-editor a:hover {
    text-decoration: underline;
}

/* Ajuste para listas que o Quill gera */
.ql-editor ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
.ql-editor ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}